.clear {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.clear_body {
  width: 40%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.clear_body h4 {
  margin: 0 0 15px;
  font-size: 20px;
  color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.clear_body p {
  margin: 0 0 20px;
  font-size: 16px;
  color: #333;
}

.buttons {
  display: flex;
  gap: 15px;
  text-align: center;
}


.clear_body button {
    width: 100px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.clear_body button:first-child {
  background-color: #ff4c4c;
  color: #fff;
}

.clear_body button:last-child {
  color: #333;
  background-color: white;
  box-shadow: 0px 0px 5px black;
}
